main {
    font-family: sans-serif;
    color: black;
}

.top-bar {
    text-align: center;
    width: 100%;
}

#home {
    font-family: 'Orbitron';
    width: 100%;
    background-color: darkblue;
    color: white;
    padding: 0.5em;
    border: none;
}

h1, h2 {
    margin: 0.5em 0;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px solid darkblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#friend-requests > tbody > tr > td > button {
    margin-right: 0.5em;
}

.remove-friend {
    background-color: red;
    color: white;
}

.game-button {
    margin-right: 0.5em;
}

@media (max-width: 600px) {
    .table {
        display: block;
        overflow-x: auto;
    }
}

@media (min-width: 601px) {
    #home {
        display: none;
    }
}