main {
    font-family: sans-serif;
    color: black;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px solid darkblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}