main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("binary-img.jpg");
  background-size: cover;
  background-position: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 1em;
}

.login-box h1 {
  font-size: clamp(1.3em, 4vw, 2.5em);
}

.login-box input {
  margin: .1em;
}

.login-box button {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Orbitron';
}