main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.players {
    flex: .1;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.players p {
    margin: 0.2em;
}

.notification {
    flex: 1;
    margin: 1em;
}

.game-container {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

