main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin-top: 0.5em;
}

img {
    flex: 0 1 auto;
    width: 80%;
    max-width: 480px;
    height: auto;
}

#logout {
    margin: 1em;
}