.play-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Orbitron';
}

.players {
    flex: .1;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.players p {
    margin: 0.2em;
}

.notification {
    flex: 1;
    margin: 1em;
}

.game-container {
    flex: 8;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

button-container {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    gap: 1em;
    height: 5em;
    width: 15em;
}

#zero, #one {
    flex: 1;
}

#submit {
    margin-top: 1em;
    padding: 0.5em 2em;
    font-size: 1.2em;
}

#input-container {
    color: greenyellow;
    background-color: black;
    border: 5px white inset;
    padding: 0.5em 1em;
    min-width: 10em;
}

.input {
    font-family: sans-serif;
}