.profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-main h1 {
    margin-top: 0.5em;
}

.profile-main p {
    font-family: sans-serif;
}

img {
    flex: 0 1 auto;
    width: 80%;
    max-width: 480px;
    height: auto;
    border: solid 2px black;
    border-radius: 10px;
}

#logout {
    margin: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Orbitron';
}