@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

h1, h2 {
  font-family: 'Orbitron';
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  flex: 0 0 auto;
  height: 3em;
  font-size: 1em;
  display: flex;
  text-align: center;
  background-color: darkblue;
  color: white;
  font-family: 'Orbitron';
}

header h1 {
  flex: .1 1 auto;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  flex: .1 1 auto;
  display: flex;
  justify-content: space-between;
}

nav div {
  flex: 1 1 auto;
  padding: 1em;
  background-color: white;
}

main {
  background-color: rgb(209, 255, 209);
  flex: 1;
}

footer {
  flex: 0 0 auto;
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: .3em;
  font-family: 'Orbitron';
}

footer a {
  background-color: white;
}

@media (max-width: 600px) {
  header, nav, footer {
    display: none;
  }
}

#github {
  padding: .3em;
  background-color: white;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}